<nav>
    <ul>

        <img (click)="goToHome()" class="logo" src="../../assets/logo-removebg-preview.png" alt="logo">


        <span class="welcome"><b>WELCOME</b></span>
        <h4>{{userData.firstname}}</h4>
        <span class="mail">{{userData.email}}</span>
        <br><br>
        <div>
            <li (click)="goToHome()"><a class="hm" href="Home"><img class="icon1"
                        src="../../assets/Images/homeee-removebg-preview.png" alt="homee" width="15%" height="5%">
                    Home</a></li>
        </div>

        <div class="logout">
            <button class="btn btn-danger" (click)="logout()">
                Log Out


            </button>

        </div>

    </ul>
</nav>

<div class="innerbody">
    <div class="minicontainer1"><button (click)="goToPdemo()">
            <img class="demo" src="../../assets/Images/playdemo.png" alt="demo">
            <span class="pd">
                <p>Play Demo</p>
            </span></button>
    </div>
    <div class="minicontainer2"><button (click)="goToCquiz()">
            <img class="createquiz" src="../../assets/Images/createquizagain.png" alt="create quiz">
            <span class="cq">
                <p>Create Quiz</p>
            </span></button>
    </div>
    <div class="minicontainer3"><button (click)="goToJoinGame()">
            <img class="joinquiz" src="../../assets/Images/joinquiz.png" alt="join game">
            <span class="jq">
                <p>Join Quiz</p>
            </span></button>
    </div>
</div>