<div class="cover">
    <div class="secondarycover">
        <div class="leftcontent"> 
            <p class="contact">Contact us for more enquiries,<br>  complaints and suggestions</p>
        <div class="socials">
            <button><img class="twitter" src="../../assets/logo-twitter.png" alt="logo-twitter"></button>
            <button><img class="gmail" src="../../assets/gmailicon.png" alt="gmail"></button>
        </div>
        </div>
        <div class="rightcontent">
            <p class="newsletter">sign up for our newsletter</p>
            <input class="emailbox" type="text" placeholder="enter email here">
        </div>
    </div>    
    <p class="copyright"> &copy;Kwizo(2022).All rights reserved.</p>
</div>