.cover{
    background-color: black;
    margin-bottom: -17px;
}

.secondarycover{
    display: flex;
    justify-content: space-between;
}

.leftcontent{
    color: white;
    margin-top: 50px;
    margin-left: 30px;
}

.contact{
    font: arial;
    text-align: left;
}

.rightcontent{
    color: white;
    /*border: 1px solid brown;*/
    margin-top: 50px;
    margin-right: 50px;
}

.newsletter{
    margin-bottom: 20px;
    font: serif;
}

.emailbox{
margin-top: -10px;
padding: 10px 0px 10px 10px;
width: 350px;
}

.copyright{
    color: white;
    text-align: center;
    margin-top: 10px;
    font: serif;
    padding-bottom: 10px;
}