<div class="header">
    <img (click)="goToHome()" class="logo" src="../../assets/logo-removebg-preview.png" alt="">
</div>
<div class="gameContainer">
    
<form class="gameForm" action="">
    <input class= "gamepin" type="text" name="pin" placeholder="GAME PIN"><br><br>
    <input class= "username" type="text" name="username" placeholder="USERNAME"><br><br>
    <input class= "joingame" type="submit"    value="JOIN GAME" routerLink="/playgame">
</form>
<img class="joinpic" src="../../assets/Images/joinGameImg.jpg" alt="joingame">
</div>
