* {
    color: #340069;
}
.navbar-brand {
    padding-left: 0.75rem;
}
hr {
    margin-top: 0px;
}
.btn {
    background-color: #340069;
    color: white;
    padding: 0.25rem 1.5rem;
}
.navspace {
    justify-content: center;
}
.nav-item {
    margin-left: 11.5rem;
    /* margin-right: 5rem; */
    font-weight: bold;
}

@media (max-width: 992px) {
    .navbar-nav {
    align-items: flex-end;
    }
.nav-item {
    margin-left: 0rem;
    }
}
