<section>
  <div class="container">
    <div>
      <img src="assets/logo.png" alt="logo" class="logo" />
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="scoreboard">
          <div class="scoreboard-item border-bottom">
            <span>Racheal</span>
            <span class="float-end">850</span>
          </div>
          <div class="scoreboard-item border-bottom">
            <span>Aisha</span>
            <span class="float-end">800</span>
          </div>
          <div class="scoreboard-item border-bottom">
            <span>Tolu</span>
            <span class="float-end">700</span>
          </div>
          <div class="scoreboard-item border-bottom">
            <span>David</span>
            <span class="float-end">700</span>
          </div>
          <div class="scoreboard-item border-bottom">
            <span>Shadrack</span>
            <span class="float-end">600</span>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div>
          <div class="position">
            <span>1st</span>
          </div>
          <div class="position">
            <span>2nd</span>
          </div>
          <div class="position">
            <span>3rd</span>
          </div>
          <div class="position">
            <span>4th</span>
          </div>
          <div class="position">
            <span>5th</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
