header {
    height: 40px;
    width: 1300px;
    border-bottom: 1px solid #700CB3;
    margin-left: 25px;

}

form {
    border: 2px solid  #700CB3;
    position: relative;
    left: 100px;
    top: 70px;
    width: 400px;
    border-radius: 20px;
}

h2 {
    padding-top: 20px;
    padding-left: 40px;
}

p {
    margin-top: -10px;
    padding-left: 40px;
}

.firstname {
    margin-left: 40px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid  #700CB3;
}

.lastname {
    margin-left: 40px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid  #700CB3;
}

.username {
    margin-left: 40px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid  #700CB3;
}

.email {
    margin-left: 40px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid  #700CB3;
}

.password {
    margin-left: 40px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid  #700CB3;
}

.cpassword {
    margin-left: 40px;
    width: 300px;
    height: 20px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid  #700CB3;
}

.submit {
    color: white;
    background-color:  black;
    margin-left: 40px;
    border-radius: 3px;
    margin-bottom: 10px;

}

.googleimage {
    width: 10%;
    height: 5%;
    position: relative;
    z-index: 1;
    top: 0px;
    left: 40px;

}

.googlebutton {
    
    margin-bottom: 5px;
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    right: 10px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    border: 1px solid  #700CB3;
}

.signupimg {
    width: 600px;
    height: 400px;
    position: relative;
    bottom: 380px;
    left: 650px;
    margin-bottom: -300px;
}
