<body>
  <div class="header">
    <img (click)="goToHome()" class="logo" src="../../assets/logo-removebg-preview.png" alt="logo"><br>
  </div>
  <div class="container">
    <div>

      <form [formGroup]="login">

        <div class="text-danger text-center mt-1" *ngIf=" invalidemail">*Invalid username or Password*</div>
        <h2>Log in</h2>
        <p class="uname">E-mail</p>
        <input type="text" class="username" name="username" placeholder="E-mail" formControlName="email" />
        <p class="pword">Password</p>
        <input type="password" class="password" name="password" placeholder="Password" formControlName="password" />
        <input (click)="loginSubmit()" [disabled]="login.invalid" class="submit" type="submit" value="LOGIN" />
      </form>
      <p class="extra">Don't have an account? <span class="signup" (click)="goToSignup()">Sign up now!</span></p>
    </div>
    <div>
      <img class="loginimg" src="../../assets/Images/logincorrected.png" alt="login" />
    </div>
  </div>