* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*div{
    border: 1px solid black;
}*/

.header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #700cb3;
}

.logo {
    position: relative;
    top: -20px;
    width: 10%;
    margin-left: 25px;
}

.fpbox {
    margin-top: 1%;
    margin-left: 442px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.fpimage{
    height: 350px;
}

.fpbox1 {
    margin-top: 10px;
    margin-left: 480px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.fpimage1{
    height: 380px;
}

h3{
    margin-top: -15px;
    text-align: center;
}

.ch{
    margin-top: -40px;
}

p{
    text-align: center;
}

.email{
  margin-top: 10px;
  margin-left: 545px;
  min-width: 280px;
  text-align: center;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #700cb3;
}


.fa-solid {
    margin-top: 0px;
    cursor: pointer;
    margin-right: 5px;
  }
  .passw {
    border: none;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
  }
  
  input:focus {
    outline: none;
  }
.submit{
    background-color: rgb(235, 0, 0);
    color: white;
    border-radius: 3px;
    margin-left: 545px;
    width: 280px;
    margin-top: 5px;
}

.submit:disabled {
    background-color: gray;
    opacity: 0.9;
    color: white;
    cursor: not-allowed;
}

.submitc{
    background-color: green;
    color: white;
    border-radius: 3px;
    margin-left: 545px;
    width: 280px;
    margin-top: 5px;
}

.submitc:disabled {
    background-color: gray;
    opacity: 0.9;
    color: white;
    cursor: not-allowed;
}

.password{
  display: flex;
  justify-content: space-between;
  width: 280px;
  height: 30px;
  margin-top: 10px;
  margin-left: 545px;
  padding-top: 5px;
  padding-left: 10px;
  border: 1px solid #700cb3;
  border-radius: 3px;
}
.spana{
    color: #700cb3;
    text-decoration: underline;
    margin-left: 630px;
    cursor: pointer;
}