<div class="wrapper">
    <div class="header">
        <img (click)="goToHome()" class="logo" src="../../assets/logo-removebg-preview.png" alt="logo"><br>
    </div>
    <div *ngIf="!changePassword">
    <div class="fpbox">
        <img class="fpimage" src="../../../assets/forgotpassword.png" alt="forgot-password">
    </div>
    <h3>Forgot Password?</h3>
    <p>please enter your registered e-mail address</p>
    <div [formGroup]="forgotpassword">
        <div class="text-danger text-center mt-1" *ngIf=" existingMail">*Email doesnot exists*</div>
    <input type="email" class="email" placeholder="Enter mail" formControlName="email" /><br>
    <button (click)="emailSubmit()" [disabled]="forgotpassword.invalid" type="submit" class="submit" value="Submit">
        <span *ngIf="!spinner" > Submit</span>
        <div class="spinner-border spinner-border-sm" role="status" *ngIf="spinner">
          <span class="visually-hidden">Loading...</span>
        </div>
      </button>
    </div>
    </div>
    <div *ngIf="changePassword">
        <div class="fpbox1">
        <img class="fpimage1" src="../../../assets/ch1password.png" alt="signup" />
        </div>
        <h3 class="ch">Change Password</h3>
        <p>please enter your new Password</p>
        <div [formGroup]="changepasswordform">
            <!--<div class="text-danger text-center mt-1" *ngIf=" existingMail">*Password changed*</div>-->
            <div class="password">
                <input type="{{showPassword?'text': 'password'}}" class="passw" name="password" placeholder="New Password"
                  formControlName="password" />
                <i class="fa-solid fa-eye-slash " [ngClass]="{'fa-eye-slash':showPassword, 'fa-eye':!showPassword}"
                  (click)="showPassword = !showPassword"></i>
              </div>
        <button (click)="passwordChanged(updatedUser.id)" [disabled]="changepasswordform.invalid" type="submit" class="submitc" value="Submit">
            <span *ngIf="!spinner" > Submit</span>
            <div class="spinner-border spinner-border-sm" role="status" *ngIf="spinner">
              <span class="visually-hidden">Loading...</span>
            </div>
          </button>

    </div>

    <!--<span class="spana" (click)="goToLogin()">Back to login</span>-->
</div>
