<div>
  <img src="assets/logo.png" alt="logo" class="logo" />
</div>
<div class="container">
  <div>
    <form>
      <h2>Log in</h2>
      <p class="uname">Username</p>
      <input type="text" class="username" name="username" placeholder="" />
      <p class="pword">Password</p>
      <input
        type="password"
        class="password"
        name="password"
        placeholder=""
      /><br />
      <input class="submit" type="submit" value="submit" /><br />
      <p><span>or</span></p>

      <button class="googlebutton">
        <span style="font-size: 17px">Continue with Google</span>
      </button>
      <p>Don't have an account? <span>Sign up now!</span></p>
      <img
        class="googleimage"
        src="../../assets/Images/google.png"
        alt="google"
      />
    </form>
  </div>
  <div>
    <img
      class="loginimg"
      src="../../assets/Images/logincorrected.png"
      alt="login"
    />
  </div>
</div>
