<body>
  <div class="header">
    <img (click)="goToHome()" class="logo" src="../../assets/logo-removebg-preview.png" alt="logo"><br>
</div>
  <div class="container">
    <div>
      <form [formGroup]="login">
        <h2>Log in</h2>
        <p class="uname">Username</p>
        <input type="text" class="username" name="username" placeholder="" formControlName="username"/>
        <p class="pword">Password</p>
        <input
          type="password"
          class="password"
          name="password"
          placeholder=""
        formControlName="password"/><br />
        <input (click)="loginSubmit(login.value)" [disabled]="login.invalid" 
        (click)="goToAccount()"
        class="submit" type="submit" value="LOGIN" routerlink="/account"/><br />
    </form>
    <p class="extra">Don't have an account? <span class="signup" (click)="goToSignup()">Sign up now!</span></p>
  </div>
  <div>
    <img class="loginimg" src="../../assets/Images/logincorrected.png" alt="login" />
  </div>
</div>