<div class="container">
  <div>
    <img src="/assets/logo.png" alt="logo" class="logo" />
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="numbers">
          <span>1</span>

          <span>2</span>

          <span>3</span>

          <span>4</span>

          <span>5</span>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="previewtitle">
            <p>Preview</p>
          </div>
          <div class="question">
            <p>Main Question</p>
          </div>
        </div>
        <div class="buttondiv">
          <button>Previous</button>
          <button>Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
