<div class="body">

    <div class="coverbody">
        <nav>
            <h1> Kwizzo</h1>
        </nav>
        <nav>
            <ul>
                <li class="list1">Home</li>
                <li>User</li>
                <li>Quiz</li>
            </ul>
        </nav>
        
        <div class="innerbody">
        <div class="container">
            <p>Hello User! <br> Let's get started with Kwizzo</p>
            <div class="container1"><br>
               <div class="thinker1border"> <img class="thinker1" src="../../assets/Images/thinkcap1.jpg" alt="thinker1"></div>
               <div class="thinker2border"><img class="thinker2" src="../../assets/Images/thinkcap2.jpg" alt="thinker2"></div>
               <div class="thinker3border"><img class="thinker3" src="../../assets/Images/thinkcap1.jpg" alt="thinker3"></div>
            </div>
            <button class="playbutton">Play demo</button>
            <button class="createbutton">Create questions</button>
            <button class="attemptbutton">Attempt quiz</button>
        </div>
        <!--<img class="image" src="../../assets/Images/ultimatecontent-removebg-preview.png" alt="quizpic">-->
    </div>

</div>
