<div class="header">
    <img (click)="goToHome()" class="logo" src="../../assets/logo-removebg-preview.png" alt="">
</div>
<div class="parent">
    <div>
        <h1>About us</h1>
        <h3>We are excited to announce the launch of our new quiz game website!</h3>
        <h3>This site is designed to provide a fun and interactive way for users to</h3> 
        <h3>test their knowledge on various topics.</h3>
        <h3>In addition to providing a fun and entertaining experience,</h3>
        <h3>we also believe that this website can be used as a learning tool.</h3>
        <h3>We are committed to providing a high-quality experience for all of our users.</h3>
        <h3>We also offer customer support in case users have any problems with the site.</h3>
        <h3>We hope you enjoy our quiz game website!</h3>
    </div>
    <div class="poll"> <img src="../../assets/polling-data-teaser.jpg" alt=""></div>
</div><br>
<app-footer></app-footer>
